{%extends "layout.html" %} {% block body %}
<h1 class="display-3">Home</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('logout')}}" class="btn btn-danger ">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page content -->
<div class="row">
    <div class="col">
        <form action="" method="POST" class="mb-5">
            {{ form.hidden_tag() }}
            <div class="form-group mt-3">
                <label class="form-control-label">Post Tweets</label>
                {{ form.msg(class="form-control", rows="3")}}
            </div>
            <div class="form-group">
                {{ form.post(class="btn btn-primary mb-2", style="position: absolute; right: 9%;")}}
            </div>
        </form>
    </div>
    <div class="col" style="overflow: scroll">
        <h2>Tweets</h2>
        <div class="tweet-box">
            {% for tweet in tweets %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header"><img src="{{tweet.user.profile_image_url_https}}" alt="Avatar"
                        style="width:50px"> {{tweet.user.name}}</div>
                <div class="card-body">
                    <h4 class="card-title">Tweet</h4>
                    <p class="card-text">{{tweet.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock body %}